*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.body {
    height: 100%;
    overflow: hidden;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 62.5%;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to top, #a770ef, #cf8bf3, #fdb99b);
    color: #474646;
}

nav {
    display: flex;
    gap: 8rem;
    justify-content: space-evenly;
    margin-top: 3rem;
}

button {
    background-color: #a770ef;
    color: #fff;
    border: 0;
    border-radius: 10px;
    padding: 2rem 5rem;
    font-size: 2.5rem;
    transition: color 1.5s, background-color 1.5s;
}

button:hover {
    background-color: #cd8af1d5;
    color: rgb(0, 0, 0);
}

.header-container {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    /* 
    color: #8a766b; 
    */
}

.header-container h1,
.header-container h2 {
    font-size: 5rem;
    color: #000000b9;
    margin-bottom: 0;
}

.header-container h2 {
    font-size: 4.5rem;
}

.tagline {
    font-style: italic;
    color: #8a766b;
}

.media {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.media p {
    margin-top: 6rem;
    font-size: 3rem;
    text-align: left;
}

.img {
    margin-top: 2rem;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: url('./image/cheese.jpeg') no-repeat;
}

.content p,
.menu-p,
.about-par {
    font-size: 3rem;
}

.menu-p {
    margin-bottom: 1rem;
}

.menu-img {
    width: 500px;
    margin: 0 auto;
}

.burrito {
    height: 375px;
    background: url('./image/breakfast-burrito.webp') no-repeat;
}

.tacos {
    height: 750px;
    background: url('./image/Healthy-Breakfast-Tacos.webp') no-repeat;
}

.yoghurt {
    height: 380px;
    background: url('./image/V9eN8K1Ez0uo6S173ttIbg_gmi_hi_res_jpeg.webp') no-repeat;
    margin-bottom: 3rem;
}